body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 242, 242);
    color: rgb(92, 106, 115);
    min-height: 100vh;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(92, 106, 115, 0.1);
    padding: 16px;
    border-radius: 16px;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}
